
*.csproj

*.vscode

Demo/.vs/Juice/v14/.suo

Demo/.vscode

Demo/Assets/VSCode/

Demo/Assets/VSCode.meta

Demo/Library/

Demo/obj/

Demo/Logs/

Demo/Temp/
/Demo/.vs/Demo/v14/*.suo
/Demo/*.sln
/Demo/.vs/Demo/v15/*.suo
/Demo/.vs/Demo/v15/Server/sqlite3/*.lock
/Demo/.vs/Demo/v15/Server/sqlite3/*.ide
/Demo/.vs/Demo/v15/Server/sqlite3/*.ide-shm
/Demo/.vs/Demo/v15/Server/sqlite3/*.ide-wal
